.intro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 3.5rem 2rem;
}

.intro h2 {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.intro p {
  font-size: 0.72rem;
  font-weight: 500;
  line-height: 1.75;
  color: hsl(0, 0%, 63%);
  margin-bottom: 3rem;
}

.intro button {
  border: none;
  background: none;
  text-transform: uppercase;
  letter-spacing: 5px;
  cursor: pointer;
}

.intro button img {
  margin-left: 2rem;
}

.intro button:hover {
  opacity: 30%;
}
